* {
  font-family: monospace;
  font-size: 15px;
}

button {
  font-family: Verdana, sans-serif;
}

body {
  background-color: #111;
}

.box {
  position: absolute;
  border: 2px solid black;
  border-radius: 10px;
  padding: 10px;
  background-color: white;
  display: inline-block;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 10px 10px 8px 5px black;
}
